.Info{
	background-color: #2F4F4F;
	border-radius: 30px;
	border-style: 3px solid navy;
	color: #B22222;
	font-size: 20px;
	font-family: cursive;
	filter: brightness(150%);
	}
.Hobbies{
	background-color: hsl(222, 0%, 50%);
	
}
ul{
	color: white;
	font-family: cursive;
 
}
body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/236x/82/3b/b8/823bb89df47aaad9d1cc42da849c9645.jpg");
	/*background-size: cover;
	max-height: 100%;*/
	filter: brightness(75%);


}
h1{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	color:orangered;
	
	
}
.img {
	margin: auto;
	opacity: 0.5;
	filter: alpha(opacity=50);
	border:0px solid black;
	width: 80%;
	padding-top: 20px;
	padding-left: 50%;
}
.img:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}
.myButton{
	opacity: 1.0;
	filter:alpha(opacity=100)
	color:red;
	display: inline-block;
	padding-left: 50%;
}
.myButton:hover{
	opacity: 0.5;
	filter: alpha(opacity=50);
}
nav {
    margin: 0 auto;
	height:50px;
	width:50px;
	padding-bottom: 10px;
	

}
.forest-image {
	width: 100%;
	max-width: 500px;
	display: inline-block; 
	margin: 0 auto;
	padding: 20px;
	


}
h4 {
  margin: 0;
  font-family: cursive;
  text-align: center;
  font-weight: bold;
  padding: 25px;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 5px;
  font-size: 25px;
  color: red;
  background-color: #FFF8DC;

}
.column {
  float: left;
  width: 33.3%;

}
.project img {
  width: 100%;
display: inline-block;
height: 300px;


}
.column-inner {
	padding: 20px;

	

}
table {
	width: 100%;
	height: 200px;
	border: 0px;
}
th {
	height:50px;
	text-align: center;
	border: 0px;
}
td {
	height:50px;
	text-align: center;
	border: 0px ;
}
.one {
	background-color: black;
	color: white;
}
.two {
	background-color: white;
	color: black;
}
.three{
	background-color: black;
	color: white;
}
.navOne {
	background-color: black;
	color: white;

}
.navTwo {
	background-color: white;
	color: black;
}
.navThree {
	background-color: black;
	color: white;
}
.navFour {
	background-color: white;
	color: black;
}
.heading{
	/*background-color: white;*/
	color: black;
}